<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KernelToPatch</key>
	<array>
		<dict>
			<key>Comment</key>
			<string>KbeMLMav-EXT</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>xugwAAAA6whIid8=</data>
			<key>MatchOS</key>
			<string>10.8,10.9</string>
			<key>Replace</key>
			<data>xugwAAAAkJBIid8=</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>KbeYosECSieHS-EXT</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>6CUAAADrBeg=</data>
			<key>MatchOS</key>
			<string>10.10-10.13</string>
			<key>Replace</key>
			<data>6CUAAACQkOg=</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>KbeMojaCata-EXT</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>6K8AAADrBeg=</data>
			<key>MatchOS</key>
			<string>10.14-10.15</string>
			<key>Replace</key>
			<data>6K8AAACQkOg=</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>KbeEC-SIP</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>w0iF23RwSIsDSInf/1AoSA==</data>
			<key>MatchOS</key>
			<string>10.11</string>
			<key>Replace</key>
			<data>w0iF2+sSSIsDSInf/1AoSA==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>KbeSie-SIP</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>w0iF23RxSIsDSInf/1AoSA==</data>
			<key>MatchOS</key>
			<string>10.12</string>
			<key>Replace</key>
			<data>w0iF2+sSSIsDSInf/1AoSA==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>KbeHSMoja3-SIP</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>w0iF23RpSIsDSInf/1AoSA==</data>
			<key>MatchOS</key>
			<string>10.13.0-10.14.3</string>
			<key>Replace</key>
			<data>w0iF2+sSSIsDSInf/1AoSA==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>KbeMoja4-SIP</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>SIXAdGxIicNIiwBIid//UChI</data>
			<key>MatchOS</key>
			<string>10.14.4-10.14.9</string>
			<key>Replace</key>
			<data>SIXA6xVIicNIiwBIid//UChI</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>KbeCata-SIP</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>AIXAD4SHAAAASQ==</data>
			<key>MatchOS</key>
			<string>10.15</string>
			<key>Replace</key>
			<data>AIXAkJCQkJCQSQ==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>KbeMoja3-KxldUnmap</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>AA+FsgEAAEg=</data>
			<key>MatchOS</key>
			<string>10.14.0-10.14.3</string>
			<key>Replace</key>
			<data>AJDpsgEAAEg=</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>KbeMoja4-KxldUnmap</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>AA+FsQEAAEg=</data>
			<key>MatchOS</key>
			<string>10.14.4-10.14.9</string>
			<key>Replace</key>
			<data>AJDpsQEAAEg=</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>KbeCata-KxldUnmap</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>AA+FfgEAAEg=</data>
			<key>MatchOS</key>
			<string>10.15</string>
			<key>Replace</key>
			<data>AJDpfgEAAEg=</data>
		</dict>
	</array>
	<key>Preferences</key>
	<dict>
		<key>Debug</key>
		<false/>
		<key>Off</key>
		<false/>
		<key>SaveLogToDeviceTree</key>
		<false/>
		<key>SaveLogToFile</key>
		<false/>
		<key>SaveLogToNvram</key>
		<false/>
	</dict>
	<key>WholePrelinked</key>
	<false/>
</dict>
</plist>
